 @media only screen and (max-width: 768px) {
    mat-card {
        margin-bottom: 22px;
    }
  }

  .comparison-item-row {
    display: flex;
    min-height: 30px;
  }

  .comparison-item-row-icon {
    height: 30px;
    width: auto;
    display:block;
    margin:auto;
  }

   .comparison-item-row-icon-box {
    min-width: 50px;
   }

  .comparison-item-row-title {
    align-self: center;
    margin-left: 8px;
  }

  .comparison-item-row-value {
    align-self: center;
    margin-left: auto;
   }

