<mat-card *ngIf="userdata"> 
    <mat-card-header>
        <img mat-card-avatar [src]="userdata.avatar_url">
        <mat-card-title> {{ userdata.login }} </mat-card-title>
        <mat-card-subtitle> {{ userdata.name }}</mat-card-subtitle>
        <mat-card-subtitle> Beigetreten am: {{ userdata.created_at | date:'mediumDate'}} </mat-card-subtitle>
    </mat-card-header>
    <br>
      <mat-card-content>
        <div class="comparison-item-row">
          <div class="comparison-item-row-icon-box">
            <img mat-card-image src="assets/img/git-commit.svg" class="comparison-item-row-icon">
          </div>
            <div class="comparison-item-row-title">Contributions</div>
            <span class="comparison-item-row-value">233</span>
        </div>
        <div class="comparison-item-row">
          <div class="comparison-item-row-icon-box">
            <img mat-card-image src="assets/img/follower.png" class="comparison-item-row-icon" style="height: 20px;">
          </div>
          <div class="comparison-item-row-title">Followers</div>
          <span class="comparison-item-row-value">{{ userdata.followers }}</span>
        </div>
        <div class="comparison-item-row">
          <div class="comparison-item-row-icon-box">
            <img mat-card-image src="assets/img/star.svg" class="comparison-item-row-icon" style="height: 23px;">
          </div>
          <div class="comparison-item-row-title"> Stargazers </div>
          <span class="comparison-item-row-value">{{ countStargazers(repositories!) }}</span>
        </div>
        <div class="comparison-item-row">
          <div class="comparison-item-row-icon-box">
            <img mat-card-image src="assets/img/book.png" class="comparison-item-row-icon" style="height: 23px;">
          </div>
          <div class="comparison-item-row-title"> Public Repositories </div>
          <span class="comparison-item-row-value">{{ userdata.public_repos }}</span>
        </div>

      </mat-card-content>
</mat-card>
