<<<<<<< HEAD
 @media only screen and (max-width: 768px) {
    mat-card {
        margin-bottom: 22px;
    }
  }

  .comparison-item-row {
    display: flex;
  }

  .comparison-item-row-icon {
    height: 30px;
    width: auto;
    vertical-align: middle;
   }

  .comparison-item-row-title {
    align-self: center;
    margin-left: 8px;
  }

  .comparison-item-row-value {
    align-self: center;
    margin-left: auto;
   }
=======
>>>>>>> 0fbdfaa4d790fac51b9b89b21ad14bd59bcdc56e
