#comparisoncontainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    gap: 22px;
}

#comparisoncontainer > * {
    flex: 1 1 0px;
}

@media only screen and (max-width: 768px) {
    #comparisoncontainer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        margin: auto;
    }
  }
