<div id="comparisoncontainer">
  <app-user-profile *ngIf="userdataOne; else notfound" [userdata]="userdataOne" [contributionsCount]="userContributionsOneCount"
    [stargazerCount]="stargazerOneCount"></app-user-profile>


  <app-user-profile *ngIf="userdataTwo; else notfound" [userdata]="userdataTwo" [contributionsCount]="userContributionsTwoCount"
    [stargazerCount]="stargazerTwoCount"></app-user-profile>
</div>

<ng-template #notfound>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar [src]="'assets/img/NoUser.png'" class="example-header-image">
      <mat-card-title> Nutzer nicht gefunden </mat-card-title>
      <mat-card-subtitle> </mat-card-subtitle>
      <mat-card-subtitle> </mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <p>
        Hast du dich vertippt? Oder warst du ein Schlingel und hast absichtlich einen nicht existierenden Nutzer
        abgefragt?
      </p>
    </mat-card-content>
  </mat-card>

</ng-template>