

.icon-box{
  min-width: 50px;
}

.icon{
  height: 30px;
  width: auto;
  display:block;
  margin:auto;
}

.spacer {
    flex: 1 1 auto;
  }
@media only screen and (max-width: 768px) {
    #searchbardiv {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        margin: auto;
    }

    button{
        margin-bottom: 22px;
    }
  }


  .footer {
    position: relative;
    bottom: 0;
  }

