<div id="searchbardiv">
  <mat-form-field appearance="fill">
    <mat-label>Username 1</mat-label>
    <input [(ngModel)]="usernameOne" matInput placeholder="" required>
    <mat-error>Name wird benötigt</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="goCompare()">Go!</button>
  <mat-form-field appearance="fill">
    <mat-label>Username 2</mat-label>
    <input [(ngModel)]="usernameTwo" matInput placeholder="" required>
    <mat-error>Name wird benötigt</mat-error>
  </mat-form-field>

</div>
<router-outlet></router-outlet>