<mat-toolbar>
  <div class="icon-box">
    <img mat-card-image src="assets/img/github.png" class="icon">
  </div>
  <span>GitHub-Compare</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<br>

<router-outlet></router-outlet>

<mat-toolbar class="footer">
  <span style="font-size: 14px;">Made with &#10084; by Niko & Fabian</span>
  <span class="spacer"></span>
  <a style="margin:auto; font-size: 14px;" routerLink="/about" routerLinkActive="activebutton">About</a>
</mat-toolbar>