.icon-box {
  min-width: 50px;
}

.icon {
  height: 30px;
  width: auto;
  display: block;
  margin: auto;
}

.spacer {
  flex: 1 1 auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}