<form [formGroup]="nameFormGroup" (ngSubmit)="goCompare()">
  <div id="searchbardiv">
    <mat-form-field appearance="fill">
      <mat-label>Nutzername 1</mat-label>
      <input formControlName="userOneControl" matInput placeholder="">
      <mat-error>Name wird benötigt</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" style="margin-top: 11px;">Los!</button>

    <mat-form-field appearance="fill">
      <mat-label>Nutzername 2</mat-label>
      <input formControlName="userTwoControl" matInput placeholder="">
      <mat-error>Name wird benötigt</mat-error>
    </mat-form-field>
  </div>
</form>

<router-outlet></router-outlet>